# Imports:

In [1]:
import numpy as np
import pandas as pd
import math
import datetime
from datetime import datetime
import pickle
from scipy import stats

from preprocess_recent_data.config import *
from previous_utils.utils import *

# Create Baseline Data Pickle - US:

In [2]:
baseline_path = BASELINE_PATH
base_data=preprocess_data(baseline_path, 12, 1)
base_data.columns = columns_order
base_data.sort_values(['Category','Category_id','Date'], inplace = True)
baseline_dataset_dict = {}

for category in list(base_data['Category'].unique()):
    baseline_dataset_dict[category] = base_data[base_data['Category'] == category]
    

with open(BASELINE_PICKLE, 'wb') as base: #wb means write - creating a pickle file
    pickle.dump(baseline_dataset_dict, base, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [3]:
baseline_dataset_dict['All items'].Year.unique()

array([1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [4]:
baseline_dataset_dict['All items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-4,Inflation t-3,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Indent,Weight,Parent,Parent_ID
57123,8106.0,All items,1984,1984-01-15,101.900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.489477,0.0,100.0,NaN,NaN
57124,8106.0,All items,1984,1984-02-15,102.400,0.489477,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.195122,0.0,100.0,NaN,NaN
57125,8106.0,All items,1984,1984-03-15,102.600,0.195122,0.489477,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.486146,0.0,100.0,NaN,NaN
57126,8106.0,All items,1984,1984-04-15,103.100,0.486146,0.195122,0.489477,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.290557,0.0,100.0,NaN,NaN
57127,8106.0,All items,1984,1984-05-15,103.400,0.290557,0.486146,0.195122,0.489477,NaN,...,NaN,NaN,NaN,NaN,NaN,0.289715,0.0,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57595,8106.0,All items,2023,2023-05-15,303.294,0.124049,0.367109,0.053028,0.369323,0.809829,...,0.385226,0.118127,-0.019302,1.313580,0.969089,0.180191,0.0,100.0,NaN,NaN
57596,8106.0,All items,2023,2023-06-15,303.841,0.180191,0.124049,0.367109,0.053028,0.369323,...,0.437442,0.385226,0.118127,-0.019302,1.313580,0.166725,0.0,100.0,NaN,NaN
57597,8106.0,All items,2023,2023-07-15,304.348,0.166725,0.180191,0.124049,0.367109,0.053028,...,0.096242,0.437442,0.385226,0.118127,-0.019302,0.629202,0.0,100.0,NaN,NaN
57598,8106.0,All items,2023,2023-08-15,306.269,0.629202,0.166725,0.180191,0.124049,0.367109,...,-0.079469,0.096242,0.437442,0.385226,0.118127,0.394950,0.0,100.0,NaN,NaN
57599,8106.0,All items,2023,2023-09-15,307.481,0.394950,0.629202,0.166725,0.180191,0.124049,...,0.809829,-0.079469,0.096242,0.437442,0.385226,NaN,0.0,100.0,NaN,NaN

In [5]:
len(baseline_dataset_dict.keys())

418

### 2 Horizons - US:

In [6]:
base_data_2_hor = preprocess_data(baseline_path, 12, 2)
base_data_2_hor.columns = columns_order_2
base_data_2_hor.sort_values(['Category','Category_id','Date'], inplace = True)
baseline_dataset_dict_2 = {}

for category in list(base_data_2_hor['Category'].unique()):
    baseline_dataset_dict_2[category] = base_data_2_hor[base_data_2_hor['Category'] == category]
    

with open(BASELINE_PICKLE_2, 'wb') as base: #wb means write - creating a pickle file
    pickle.dump(baseline_dataset_dict_2, base, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [7]:
baseline_dataset_dict_2['All items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-3,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Indent,Weight,Parent,Parent_ID
57123,8106.0,All items,1984,1984-01-15,101.900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.489477,0.195122,0.0,100.0,NaN,NaN
57124,8106.0,All items,1984,1984-02-15,102.400,0.489477,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.195122,0.486146,0.0,100.0,NaN,NaN
57125,8106.0,All items,1984,1984-03-15,102.600,0.195122,0.489477,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.486146,0.290557,0.0,100.0,NaN,NaN
57126,8106.0,All items,1984,1984-04-15,103.100,0.486146,0.195122,0.489477,NaN,NaN,...,NaN,NaN,NaN,NaN,0.290557,0.289715,0.0,100.0,NaN,NaN
57127,8106.0,All items,1984,1984-05-15,103.400,0.290557,0.486146,0.195122,0.489477,NaN,...,NaN,NaN,NaN,NaN,0.289715,0.384986,0.0,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57595,8106.0,All items,2023,2023-05-15,303.294,0.124049,0.367109,0.053028,0.369323,0.809829,...,0.118127,-0.019302,1.313580,0.969089,0.180191,0.166725,0.0,100.0,NaN,NaN
57596,8106.0,All items,2023,2023-06-15,303.841,0.180191,0.124049,0.367109,0.053028,0.369323,...,0.385226,0.118127,-0.019302,1.313580,0.166725,0.629202,0.0,100.0,NaN,NaN
57597,8106.0,All items,2023,2023-07-15,304.348,0.166725,0.180191,0.124049,0.367109,0.053028,...,0.437442,0.385226,0.118127,-0.019302,0.629202,0.394950,0.0,100.0,NaN,NaN
57598,8106.0,All items,2023,2023-08-15,306.269,0.629202,0.166725,0.180191,0.124049,0.367109,...,0.096242,0.437442,0.385226,0.118127,0.394950,NaN,0.0,100.0,NaN,NaN
57599,8106.0,All items,2023,2023-09-15,307.481,0.394950,0.629202,0.166725,0.180191,0.124049,...,-0.079469,0.096242,0.437442,0.385226,NaN,NaN,0.0,100.0,NaN,NaN

### 3 Horizons - US:

In [8]:
base_data_3_hor = preprocess_data(baseline_path, 12, 3)
base_data_3_hor.columns = columns_order_3
base_data_3_hor.sort_values(['Category','Category_id','Date'], inplace = True)
baseline_dataset_dict_3 = {}

for category in list(base_data_3_hor['Category'].unique()):
    baseline_dataset_dict_3[category] = base_data_3_hor[base_data_3_hor['Category'] == category]
    

with open(BASELINE_PICKLE_3, 'wb') as base: #wb means write - creating a pickle file
    pickle.dump(baseline_dataset_dict_3, base, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [9]:
baseline_dataset_dict_3['All items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Inflation t+3,Indent,Weight,Parent,Parent_ID
57123,8106.0,All items,1984,1984-01-15,101.900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.489477,0.195122,0.486146,0.0,100.0,NaN,NaN
57124,8106.0,All items,1984,1984-02-15,102.400,0.489477,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.195122,0.486146,0.290557,0.0,100.0,NaN,NaN
57125,8106.0,All items,1984,1984-03-15,102.600,0.195122,0.489477,NaN,NaN,NaN,...,NaN,NaN,NaN,0.486146,0.290557,0.289715,0.0,100.0,NaN,NaN
57126,8106.0,All items,1984,1984-04-15,103.100,0.486146,0.195122,0.489477,NaN,NaN,...,NaN,NaN,NaN,0.290557,0.289715,0.384986,0.0,100.0,NaN,NaN
57127,8106.0,All items,1984,1984-05-15,103.400,0.290557,0.486146,0.195122,0.489477,NaN,...,NaN,NaN,NaN,0.289715,0.384986,0.383510,0.0,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57595,8106.0,All items,2023,2023-05-15,303.294,0.124049,0.367109,0.053028,0.369323,0.809829,...,-0.019302,1.313580,0.969089,0.180191,0.166725,0.629202,0.0,100.0,NaN,NaN
57596,8106.0,All items,2023,2023-06-15,303.841,0.180191,0.124049,0.367109,0.053028,0.369323,...,0.118127,-0.019302,1.313580,0.166725,0.629202,0.394950,0.0,100.0,NaN,NaN
57597,8106.0,All items,2023,2023-07-15,304.348,0.166725,0.180191,0.124049,0.367109,0.053028,...,0.385226,0.118127,-0.019302,0.629202,0.394950,NaN,0.0,100.0,NaN,NaN
57598,8106.0,All items,2023,2023-08-15,306.269,0.629202,0.166725,0.180191,0.124049,0.367109,...,0.437442,0.385226,0.118127,0.394950,NaN,NaN,0.0,100.0,NaN,NaN
57599,8106.0,All items,2023,2023-09-15,307.481,0.394950,0.629202,0.166725,0.180191,0.124049,...,0.096242,0.437442,0.385226,NaN,NaN,NaN,0.0,100.0,NaN,NaN

### 4 Horizons - US:

In [10]:
base_data_4_hor = preprocess_data(baseline_path, 12, 4)
base_data_4_hor.columns = columns_order_4
base_data_4_hor.sort_values(['Category','Category_id','Date'], inplace = True)
baseline_dataset_dict_4 = {}

for category in list(base_data_4_hor['Category'].unique()):
    baseline_dataset_dict_4[category] = base_data_4_hor[base_data_4_hor['Category'] == category]
    

with open(BASELINE_PICKLE_4, 'wb') as base: #wb means write - creating a pickle file
    pickle.dump(baseline_dataset_dict_4, base, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [11]:
baseline_dataset_dict_4['All items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Inflation t+3,Inflation t+4,Indent,Weight,Parent,Parent_ID
57123,8106.0,All items,1984,1984-01-15,101.900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.489477,0.195122,0.486146,0.290557,0.0,100.0,NaN,NaN
57124,8106.0,All items,1984,1984-02-15,102.400,0.489477,NaN,NaN,NaN,NaN,...,NaN,NaN,0.195122,0.486146,0.290557,0.289715,0.0,100.0,NaN,NaN
57125,8106.0,All items,1984,1984-03-15,102.600,0.195122,0.489477,NaN,NaN,NaN,...,NaN,NaN,0.486146,0.290557,0.289715,0.384986,0.0,100.0,NaN,NaN
57126,8106.0,All items,1984,1984-04-15,103.100,0.486146,0.195122,0.489477,NaN,NaN,...,NaN,NaN,0.290557,0.289715,0.384986,0.383510,0.0,100.0,NaN,NaN
57127,8106.0,All items,1984,1984-05-15,103.400,0.290557,0.486146,0.195122,0.489477,NaN,...,NaN,NaN,0.289715,0.384986,0.383510,0.477328,0.0,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57595,8106.0,All items,2023,2023-05-15,303.294,0.124049,0.367109,0.053028,0.369323,0.809829,...,1.313580,0.969089,0.180191,0.166725,0.629202,0.394950,0.0,100.0,NaN,NaN
57596,8106.0,All items,2023,2023-06-15,303.841,0.180191,0.124049,0.367109,0.053028,0.369323,...,-0.019302,1.313580,0.166725,0.629202,0.394950,NaN,0.0,100.0,NaN,NaN
57597,8106.0,All items,2023,2023-07-15,304.348,0.166725,0.180191,0.124049,0.367109,0.053028,...,0.118127,-0.019302,0.629202,0.394950,NaN,NaN,0.0,100.0,NaN,NaN
57598,8106.0,All items,2023,2023-08-15,306.269,0.629202,0.166725,0.180191,0.124049,0.367109,...,0.385226,0.118127,0.394950,NaN,NaN,NaN,0.0,100.0,NaN,NaN
57599,8106.0,All items,2023,2023-09-15,307.481,0.394950,0.629202,0.166725,0.180191,0.124049,...,0.437442,0.385226,NaN,NaN,NaN,NaN,0.0,100.0,NaN,NaN

### 8 Horizons - US:

In [12]:
base_data_8_hor = preprocess_data(baseline_path, 12, 8)
base_data_8_hor.columns = columns_order_8
base_data_8_hor.sort_values(['Category','Category_id','Date'], inplace = True)
baseline_dataset_dict_8 = {}

for category in list(base_data_8_hor['Category'].unique()):
    baseline_dataset_dict_8[category] = base_data_8_hor[base_data_8_hor['Category'] == category]
    

with open(BASELINE_PICKLE_8, 'wb') as base: #wb means write - creating a pickle file
    pickle.dump(baseline_dataset_dict_8, base, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [14]:
baseline_dataset_dict_8['All items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t+3,Inflation t+4,Inflation t+5,Inflation t+6,Inflation t+7,Inflation t+8,Indent,Weight,Parent,Parent_ID
57123,8106.0,All items,1984,1984-01-15,101.900,NaN,NaN,NaN,NaN,NaN,...,0.486146,0.290557,0.289715,0.384986,0.383510,0.477328,0.0,100.0,NaN,NaN
57124,8106.0,All items,1984,1984-02-15,102.400,0.489477,NaN,NaN,NaN,NaN,...,0.290557,0.289715,0.384986,0.383510,0.477328,0.285307,0.0,100.0,NaN,NaN
57125,8106.0,All items,1984,1984-03-15,102.600,0.195122,0.489477,NaN,NaN,NaN,...,0.289715,0.384986,0.383510,0.477328,0.285307,0.000000,0.0,100.0,NaN,NaN
57126,8106.0,All items,1984,1984-04-15,103.100,0.486146,0.195122,0.489477,NaN,NaN,...,0.384986,0.383510,0.477328,0.285307,0.000000,0.000000,0.0,100.0,NaN,NaN
57127,8106.0,All items,1984,1984-05-15,103.400,0.290557,0.486146,0.195122,0.489477,NaN,...,0.383510,0.477328,0.285307,0.000000,0.000000,0.189753,0.0,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57595,8106.0,All items,2023,2023-05-15,303.294,0.124049,0.367109,0.053028,0.369323,0.809829,...,0.629202,0.394950,NaN,NaN,NaN,NaN,0.0,100.0,NaN,NaN
57596,8106.0,All items,2023,2023-06-15,303.841,0.180191,0.124049,0.367109,0.053028,0.369323,...,0.394950,NaN,NaN,NaN,NaN,NaN,0.0,100.0,NaN,NaN
57597,8106.0,All items,2023,2023-07-15,304.348,0.166725,0.180191,0.124049,0.367109,0.053028,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,100.0,NaN,NaN
57598,8106.0,All items,2023,2023-08-15,306.269,0.629202,0.166725,0.180191,0.124049,0.367109,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,100.0,NaN,NaN
57599,8106.0,All items,2023,2023-09-15,307.481,0.394950,0.629202,0.166725,0.180191,0.124049,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,100.0,NaN,NaN

----------

# Creating HRNN Data Pickle:

In [14]:
# Preprocess Test:
path = HRNN_PATH
data=preprocess_data(path, 12, 1)
data.columns = columns_order
data.sort_values(['Category','Category_id','Date'], inplace = True)
hrnn_dataset_dict = {}

for category in list(data['Category'].unique()):
    hrnn_dataset_dict[category] = data[data['Category'] == category]
    
with open(HRNN_PICKLE, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(hrnn_dataset_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [15]:
hrnn_dataset_dict['All items'].Year.unique()

array([1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [16]:
hrnn_dataset_dict['All items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-4,Inflation t-3,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Indent,Weight,Parent,Parent_ID
53849,8106.0,All items,1984,1984-01-15,101.900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.489477,0.0,100.0,NaN,NaN
53850,8106.0,All items,1984,1984-02-15,102.400,0.489477,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.195122,0.0,100.0,NaN,NaN
53851,8106.0,All items,1984,1984-03-15,102.600,0.195122,0.489477,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.486146,0.0,100.0,NaN,NaN
53852,8106.0,All items,1984,1984-04-15,103.100,0.486146,0.195122,0.489477,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.290557,0.0,100.0,NaN,NaN
53853,8106.0,All items,1984,1984-05-15,103.400,0.290557,0.486146,0.195122,0.489477,NaN,...,NaN,NaN,NaN,NaN,NaN,0.289715,0.0,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54321,8106.0,All items,2023,2023-05-15,303.294,0.124049,0.367109,0.053028,0.369323,0.809829,...,0.385226,0.118127,-0.019302,1.313580,0.969089,0.180191,0.0,100.0,NaN,NaN
54322,8106.0,All items,2023,2023-06-15,303.841,0.180191,0.124049,0.367109,0.053028,0.369323,...,0.437442,0.385226,0.118127,-0.019302,1.313580,0.166725,0.0,100.0,NaN,NaN
54323,8106.0,All items,2023,2023-07-15,304.348,0.166725,0.180191,0.124049,0.367109,0.053028,...,0.096242,0.437442,0.385226,0.118127,-0.019302,0.629202,0.0,100.0,NaN,NaN
54324,8106.0,All items,2023,2023-08-15,306.269,0.629202,0.166725,0.180191,0.124049,0.367109,...,-0.079469,0.096242,0.437442,0.385226,0.118127,0.394950,0.0,100.0,NaN,NaN
54325,8106.0,All items,2023,2023-09-15,307.481,0.394950,0.629202,0.166725,0.180191,0.124049,...,0.809829,-0.079469,0.096242,0.437442,0.385226,NaN,0.0,100.0,NaN,NaN

In [17]:
len(hrnn_dataset_dict.keys())

350

-----

# Bi Directional US- 1 Period with Corr:

In [15]:
# Preprocess Test:
bi_directional_path = HRNN_PATH
bi_directional_data=preprocess_data(bi_directional_path, 12, 1)
bi_directional_data.columns = columns_order
bi_directional_data.sort_values(['Category','Category_id','Date'], inplace = True)
bi_directional_dataset_dict = {}

for category in list(bi_directional_data['Category'].unique()):
    bi_directional_dataset_dict[category] = bi_directional_data[bi_directional_data['Category'] == category]
    
with open(bi_directional_1_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(bi_directional_dataset_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [16]:
bi_directional_dataset_dict['All items'].Year.unique()

array([1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [17]:
bi_directional_dataset_dict['All items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-4,Inflation t-3,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Indent,Weight,Parent,Parent_ID
53849,8106.0,All items,1984,1984-01-15,101.900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.489477,0.0,100.0,NaN,NaN
53850,8106.0,All items,1984,1984-02-15,102.400,0.489477,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.195122,0.0,100.0,NaN,NaN
53851,8106.0,All items,1984,1984-03-15,102.600,0.195122,0.489477,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.486146,0.0,100.0,NaN,NaN
53852,8106.0,All items,1984,1984-04-15,103.100,0.486146,0.195122,0.489477,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.290557,0.0,100.0,NaN,NaN
53853,8106.0,All items,1984,1984-05-15,103.400,0.290557,0.486146,0.195122,0.489477,NaN,...,NaN,NaN,NaN,NaN,NaN,0.289715,0.0,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54321,8106.0,All items,2023,2023-05-15,303.294,0.124049,0.367109,0.053028,0.369323,0.809829,...,0.385226,0.118127,-0.019302,1.313580,0.969089,0.180191,0.0,100.0,NaN,NaN
54322,8106.0,All items,2023,2023-06-15,303.841,0.180191,0.124049,0.367109,0.053028,0.369323,...,0.437442,0.385226,0.118127,-0.019302,1.313580,0.166725,0.0,100.0,NaN,NaN
54323,8106.0,All items,2023,2023-07-15,304.348,0.166725,0.180191,0.124049,0.367109,0.053028,...,0.096242,0.437442,0.385226,0.118127,-0.019302,0.629202,0.0,100.0,NaN,NaN
54324,8106.0,All items,2023,2023-08-15,306.269,0.629202,0.166725,0.180191,0.124049,0.367109,...,-0.079469,0.096242,0.437442,0.385226,0.118127,0.394950,0.0,100.0,NaN,NaN
54325,8106.0,All items,2023,2023-09-15,307.481,0.394950,0.629202,0.166725,0.180191,0.124049,...,0.809829,-0.079469,0.096242,0.437442,0.385226,NaN,0.0,100.0,NaN,NaN

### 2 Horizons - US:

In [18]:
bi_directional_data_2_hor=preprocess_data(bi_directional_path, 12, 2)
bi_directional_data_2_hor.columns = columns_order_2
bi_directional_data_2_hor.sort_values(['Category','Category_id','Date'], inplace = True)
bi_directional_dataset_dict_2_hor = {}

for category in list(bi_directional_data_2_hor['Category'].unique()):
    bi_directional_dataset_dict_2_hor[category] = bi_directional_data_2_hor[bi_directional_data_2_hor['Category'] == category]

with open(bi_directional_2_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(bi_directional_dataset_dict_2_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [19]:
bi_directional_dataset_dict_2_hor['Admission to movies, theaters, and concerts']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-3,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Indent,Weight,Parent,Parent_ID
1128,290.0,"Admission to movies, theaters, and concerts",2012,2012-01-15,159.002,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-1.013280,-0.071182,7.0,0.331,Admissions,9746.0
1129,290.0,"Admission to movies, theaters, and concerts",2012,2012-02-15,157.399,-1.013280,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-0.071182,0.057839,7.0,0.331,Admissions,9746.0
1130,290.0,"Admission to movies, theaters, and concerts",2012,2012-03-15,157.287,-0.071182,-1.013280,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.057839,0.483649,7.0,0.331,Admissions,9746.0
1131,290.0,"Admission to movies, theaters, and concerts",2012,2012-04-15,157.378,0.057839,-0.071182,-1.013280,NaN,NaN,...,NaN,NaN,NaN,NaN,0.483649,2.390557,7.0,0.331,Admissions,9746.0
1132,290.0,"Admission to movies, theaters, and concerts",2012,2012-05-15,158.141,0.483649,0.057839,-0.071182,-1.013280,NaN,...,NaN,NaN,NaN,NaN,2.390557,0.252818,7.0,0.331,Admissions,9746.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264,290.0,"Admission to movies, theaters, and concerts",2023,2023-05-15,217.889,-0.253020,1.411205,1.095213,-0.165095,0.852319,...,-0.571093,1.482856,0.890306,0.010274,0.484850,0.083547,7.0,0.331,Admissions,9746.0
1265,290.0,"Admission to movies, theaters, and concerts",2023,2023-06-15,218.948,0.484850,-0.253020,1.411205,1.095213,-0.165095,...,-0.583072,-0.571093,1.482856,0.890306,0.083547,-0.116893,7.0,0.331,Admissions,9746.0
1266,290.0,"Admission to movies, theaters, and concerts",2023,2023-07-15,219.131,0.083547,0.484850,-0.253020,1.411205,1.095213,...,0.901122,-0.583072,-0.571093,1.482856,-0.116893,-0.375805,7.0,0.331,Admissions,9746.0
1267,290.0,"Admission to movies, theaters, and concerts",2023,2023-08-15,218.875,-0.116893,0.083547,0.484850,-0.253020,1.411205,...,1.588447,0.901122,-0.583072,-0.571093,-0.375805,NaN,7.0,0.331,Admissions,9746.0
1268,290.0,"Admission to movies, theaters, and concerts",2023,2023-09-15,218.054,-0.375805,-0.116893,0.083547,0.484850,-0.253020,...,-0.263389,1.588447,0.901122,-0.583072,NaN,NaN,7.0,0.331,Admissions,9746.0

### 3 Horizons - US:

In [20]:
bi_directional_data_3_hor=preprocess_data(bi_directional_path, 12, 3)
bi_directional_data_3_hor.columns = columns_order_3
bi_directional_data_3_hor.sort_values(['Category','Category_id','Date'], inplace = True)
bi_directional_dataset_dict_3_hor = {}

for category in list(bi_directional_data_3_hor['Category'].unique()):
    bi_directional_dataset_dict_3_hor[category] = bi_directional_data_3_hor[bi_directional_data_3_hor['Category'] == category]

with open(bi_directional_3_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(bi_directional_dataset_dict_3_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [21]:
bi_directional_dataset_dict_3_hor['Admission to movies, theaters, and concerts']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Inflation t+3,Indent,Weight,Parent,Parent_ID
1128,290.0,"Admission to movies, theaters, and concerts",2012,2012-01-15,159.002,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.013280,-0.071182,0.057839,7.0,0.331,Admissions,9746.0
1129,290.0,"Admission to movies, theaters, and concerts",2012,2012-02-15,157.399,-1.013280,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.071182,0.057839,0.483649,7.0,0.331,Admissions,9746.0
1130,290.0,"Admission to movies, theaters, and concerts",2012,2012-03-15,157.287,-0.071182,-1.013280,NaN,NaN,NaN,...,NaN,NaN,NaN,0.057839,0.483649,2.390557,7.0,0.331,Admissions,9746.0
1131,290.0,"Admission to movies, theaters, and concerts",2012,2012-04-15,157.378,0.057839,-0.071182,-1.013280,NaN,NaN,...,NaN,NaN,NaN,0.483649,2.390557,0.252818,7.0,0.331,Admissions,9746.0
1132,290.0,"Admission to movies, theaters, and concerts",2012,2012-05-15,158.141,0.483649,0.057839,-0.071182,-1.013280,NaN,...,NaN,NaN,NaN,2.390557,0.252818,-0.700205,7.0,0.331,Admissions,9746.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264,290.0,"Admission to movies, theaters, and concerts",2023,2023-05-15,217.889,-0.253020,1.411205,1.095213,-0.165095,0.852319,...,1.482856,0.890306,0.010274,0.484850,0.083547,-0.116893,7.0,0.331,Admissions,9746.0
1265,290.0,"Admission to movies, theaters, and concerts",2023,2023-06-15,218.948,0.484850,-0.253020,1.411205,1.095213,-0.165095,...,-0.571093,1.482856,0.890306,0.083547,-0.116893,-0.375805,7.0,0.331,Admissions,9746.0
1266,290.0,"Admission to movies, theaters, and concerts",2023,2023-07-15,219.131,0.083547,0.484850,-0.253020,1.411205,1.095213,...,-0.583072,-0.571093,1.482856,-0.116893,-0.375805,NaN,7.0,0.331,Admissions,9746.0
1267,290.0,"Admission to movies, theaters, and concerts",2023,2023-08-15,218.875,-0.116893,0.083547,0.484850,-0.253020,1.411205,...,0.901122,-0.583072,-0.571093,-0.375805,NaN,NaN,7.0,0.331,Admissions,9746.0
1268,290.0,"Admission to movies, theaters, and concerts",2023,2023-09-15,218.054,-0.375805,-0.116893,0.083547,0.484850,-0.253020,...,1.588447,0.901122,-0.583072,NaN,NaN,NaN,7.0,0.331,Admissions,9746.0

### 4 Horizons - US:

In [22]:
bi_directional_data_4_hor=preprocess_data(bi_directional_path, 12, 4)
bi_directional_data_4_hor.columns = columns_order_4
bi_directional_data_4_hor.sort_values(['Category','Category_id','Date'], inplace = True)
bi_directional_dataset_dict_4_hor = {}

for category in list(bi_directional_data_4_hor['Category'].unique()):
    bi_directional_dataset_dict_4_hor[category] = bi_directional_data_4_hor[bi_directional_data_4_hor['Category'] == category]

with open(bi_directional_4_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(bi_directional_dataset_dict_4_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [23]:
bi_directional_dataset_dict_4_hor['Admission to movies, theaters, and concerts']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Inflation t+3,Inflation t+4,Indent,Weight,Parent,Parent_ID
1128,290.0,"Admission to movies, theaters, and concerts",2012,2012-01-15,159.002,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1.013280,-0.071182,0.057839,0.483649,7.0,0.331,Admissions,9746.0
1129,290.0,"Admission to movies, theaters, and concerts",2012,2012-02-15,157.399,-1.013280,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.071182,0.057839,0.483649,2.390557,7.0,0.331,Admissions,9746.0
1130,290.0,"Admission to movies, theaters, and concerts",2012,2012-03-15,157.287,-0.071182,-1.013280,NaN,NaN,NaN,...,NaN,NaN,0.057839,0.483649,2.390557,0.252818,7.0,0.331,Admissions,9746.0
1131,290.0,"Admission to movies, theaters, and concerts",2012,2012-04-15,157.378,0.057839,-0.071182,-1.013280,NaN,NaN,...,NaN,NaN,0.483649,2.390557,0.252818,-0.700205,7.0,0.331,Admissions,9746.0
1132,290.0,"Admission to movies, theaters, and concerts",2012,2012-05-15,158.141,0.483649,0.057839,-0.071182,-1.013280,NaN,...,NaN,NaN,2.390557,0.252818,-0.700205,-0.209219,7.0,0.331,Admissions,9746.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264,290.0,"Admission to movies, theaters, and concerts",2023,2023-05-15,217.889,-0.253020,1.411205,1.095213,-0.165095,0.852319,...,0.890306,0.010274,0.484850,0.083547,-0.116893,-0.375805,7.0,0.331,Admissions,9746.0
1265,290.0,"Admission to movies, theaters, and concerts",2023,2023-06-15,218.948,0.484850,-0.253020,1.411205,1.095213,-0.165095,...,1.482856,0.890306,0.083547,-0.116893,-0.375805,NaN,7.0,0.331,Admissions,9746.0
1266,290.0,"Admission to movies, theaters, and concerts",2023,2023-07-15,219.131,0.083547,0.484850,-0.253020,1.411205,1.095213,...,-0.571093,1.482856,-0.116893,-0.375805,NaN,NaN,7.0,0.331,Admissions,9746.0
1267,290.0,"Admission to movies, theaters, and concerts",2023,2023-08-15,218.875,-0.116893,0.083547,0.484850,-0.253020,1.411205,...,-0.583072,-0.571093,-0.375805,NaN,NaN,NaN,7.0,0.331,Admissions,9746.0
1268,290.0,"Admission to movies, theaters, and concerts",2023,2023-09-15,218.054,-0.375805,-0.116893,0.083547,0.484850,-0.253020,...,0.901122,-0.583072,NaN,NaN,NaN,NaN,7.0,0.331,Admissions,9746.0

### 8 Horizons - US:

In [24]:
bi_directional_data_8_hor=preprocess_data(bi_directional_path, 12, 8)
bi_directional_data_8_hor.columns = columns_order_8
bi_directional_data_8_hor.sort_values(['Category','Category_id','Date'], inplace = True)
bi_directional_dataset_dict_8_hor = {}

for category in list(bi_directional_data_8_hor['Category'].unique()):
    bi_directional_dataset_dict_8_hor[category] = bi_directional_data_8_hor[bi_directional_data_8_hor['Category'] == category]

with open(bi_directional_8_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(bi_directional_dataset_dict_8_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [25]:
bi_directional_dataset_dict_8_hor['Admission to movies, theaters, and concerts']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t+3,Inflation t+4,Inflation t+5,Inflation t+6,Inflation t+7,Inflation t+8,Indent,Weight,Parent,Parent_ID
1128,290.0,"Admission to movies, theaters, and concerts",2012,2012-01-15,159.002,NaN,NaN,NaN,NaN,NaN,...,0.057839,0.483649,2.390557,0.252818,-0.700205,-0.209219,7.0,0.331,Admissions,9746.0
1129,290.0,"Admission to movies, theaters, and concerts",2012,2012-02-15,157.399,-1.013280,NaN,NaN,NaN,NaN,...,0.483649,2.390557,0.252818,-0.700205,-0.209219,0.746706,7.0,0.331,Admissions,9746.0
1130,290.0,"Admission to movies, theaters, and concerts",2012,2012-03-15,157.287,-0.071182,-1.013280,NaN,NaN,NaN,...,2.390557,0.252818,-0.700205,-0.209219,0.746706,-0.599525,7.0,0.331,Admissions,9746.0
1131,290.0,"Admission to movies, theaters, and concerts",2012,2012-04-15,157.378,0.057839,-0.071182,-1.013280,NaN,NaN,...,0.252818,-0.700205,-0.209219,0.746706,-0.599525,0.403791,7.0,0.331,Admissions,9746.0
1132,290.0,"Admission to movies, theaters, and concerts",2012,2012-05-15,158.141,0.483649,0.057839,-0.071182,-1.013280,NaN,...,-0.700205,-0.209219,0.746706,-0.599525,0.403791,0.074140,7.0,0.331,Admissions,9746.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264,290.0,"Admission to movies, theaters, and concerts",2023,2023-05-15,217.889,-0.253020,1.411205,1.095213,-0.165095,0.852319,...,-0.116893,-0.375805,NaN,NaN,NaN,NaN,7.0,0.331,Admissions,9746.0
1265,290.0,"Admission to movies, theaters, and concerts",2023,2023-06-15,218.948,0.484850,-0.253020,1.411205,1.095213,-0.165095,...,-0.375805,NaN,NaN,NaN,NaN,NaN,7.0,0.331,Admissions,9746.0
1266,290.0,"Admission to movies, theaters, and concerts",2023,2023-07-15,219.131,0.083547,0.484850,-0.253020,1.411205,1.095213,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,0.331,Admissions,9746.0
1267,290.0,"Admission to movies, theaters, and concerts",2023,2023-08-15,218.875,-0.116893,0.083547,0.484850,-0.253020,1.411205,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,0.331,Admissions,9746.0
1268,290.0,"Admission to movies, theaters, and concerts",2023,2023-09-15,218.054,-0.375805,-0.116893,0.083547,0.484850,-0.253020,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,0.331,Admissions,9746.0

----

# Creating USA's (1) Son-Parent Dict, (2) Category ID to Name Dict, (3) Categories per Indent Dict:

In [29]:
parent_dict = {}
weight_dict = {}
cat_cat_id_dict = {}
indent_dict = {}

parent_son_df = data[['Category', 'Category_id','Parent', 'Parent_ID']].drop_duplicates()
cat_weight_df = data[['Category_id','Weight']].drop_duplicates()
cat_cat_id_df = data[['Category_id','Category']].drop_duplicates()
indent_df = data[['Indent','Category_id']].drop_duplicates()


for category_id in list(parent_son_df['Category_id'].unique()):
    parent_dict[category_id] = parent_son_df[parent_son_df['Category_id'] == category_id]['Parent_ID'].values[0]
    
for category_id in list(cat_weight_df['Category_id'].unique()):
    weight_dict[category_id] = cat_weight_df[cat_weight_df['Category_id'] == category_id]['Weight'].values[0]
    
for category_id in list(cat_cat_id_df['Category_id'].unique()):
    cat_cat_id_dict[category_id] = cat_cat_id_df[cat_cat_id_df['Category_id'] == category_id]['Category'].values[0]
    
for indent in list(indent_df['Indent'].unique()):
    indent_dict[indent] = list(indent_df[indent_df['Indent']==indent].Category_id.unique())

In [30]:
with open(usa_parent_son_pickle, 'wb') as handle: 
    pickle.dump(parent_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open(usa_cat_weight_pickle, 'wb') as handle: 
    pickle.dump(weight_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
with open(usa_cat_id_to_name_pickle, 'wb') as handle: 
    pickle.dump(cat_cat_id_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open(usa_cats_per_indent_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(indent_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [31]:
# print categories with no parents - making sure the only category without parent id is all items (8106)
for cat_id in list(parent_dict.keys()):
    if pd.isna(parent_dict[cat_id]):
        print(cat_id)

8106.0

------------

# Creating USA's Parent to Sons List Dict:

In [32]:
parent_to_sons_dict = {}

for cat_id in list(data.Category_id.unique()):
    if parent_dict[cat_id] in list(parent_to_sons_dict.keys()):
        parent_to_sons_dict[parent_dict[cat_id]]['sons'].append(cat_id)
    
    else:
        parent_to_sons_dict[parent_dict[cat_id]] = {'sons': [cat_id]}

In [33]:
with open(usa_parent_to_son_list, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(parent_to_sons_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

----------------

# Bi Directional - Canada Dataset:

In [34]:
# Preprocess Test:
canada_path = '/Users/mvilenko/Library/CloudStorage/OneDrive-PayPal/CPI_HRNN - version 2.0/resources/canada_cpi_dataset_linear_regression_weights.csv'
canada_data=preprocess_data(canada_path, 12, 1)
canada_data.columns = columns_order
canada_data.sort_values(['Category','Category_id','Date'], inplace = True)
canada_dataset_dict = {}

for category in list(canada_data['Category'].unique()):
    canada_dataset_dict[category] = canada_data[canada_data['Category'] == category]
    
with open(BI_DIRECTIONAL_CANADA_PICKLE, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(canada_dataset_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [35]:
canada_dataset_dict['All-items'].Year.unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [36]:
canada_dataset_dict['All-items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-4,Inflation t-3,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Indent,Weight,Parent,Parent_ID
0,2,All-items,2013,2013-01-15,121.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.147554,0.0,1.0,NaN,NaN
1,2,All-items,2013,2013-02-15,122.7,1.147554,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.162866,0.0,1.0,NaN,NaN
2,2,All-items,2013,2013-03-15,122.9,0.162866,1.147554,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.162866,0.0,1.0,NaN,NaN
3,2,All-items,2013,2013-04-15,122.7,-0.162866,0.162866,1.147554,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.244200,0.0,1.0,NaN,NaN
4,2,All-items,2013,2013-05-15,123.0,0.244200,-0.162866,0.162866,1.147554,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2,All-items,2022,2022-10-15,153.8,0.717784,0.065509,-0.327118,0.130719,0.656170,...,1.027055,0.898727,-0.138793,0.208261,0.697353,0.129955,0.0,1.0,NaN,NaN
118,2,All-items,2022,2022-11-15,154.0,0.129955,0.717784,0.065509,-0.327118,0.130719,...,1.420382,1.027055,0.898727,-0.138793,0.208261,-0.586130,0.0,1.0,NaN,NaN
119,2,All-items,2022,2022-12-15,153.1,-0.586130,0.129955,0.717784,0.065509,-0.327118,...,0.602613,1.420382,1.027055,0.898727,-0.138793,0.521174,0.0,1.0,NaN,NaN
120,2,All-items,2023,2023-01-15,153.9,0.521174,-0.586130,0.129955,0.717784,0.065509,...,1.392134,0.602613,1.420382,1.027055,0.898727,0.389106,0.0,1.0,NaN,NaN
121,2,All-items,2023,2023-02-15,154.5,0.389106,0.521174,-0.586130,0.129955,0.717784,...,0.656170,1.392134,0.602613,1.420382,1.027055,NaN,0.0,1.0,NaN,NaN

### 2 Horizons - Canada:

In [37]:
canada_bi_directional_data_2_hor=preprocess_data(canada_path, 12, 2)
canada_bi_directional_data_2_hor.columns = columns_order_2
canada_bi_directional_data_2_hor.sort_values(['Category','Category_id','Date'], inplace = True)
canada_bi_directional_dataset_dict_2_hor = {}

for category in list(canada_bi_directional_data_2_hor['Category'].unique()):
    canada_bi_directional_dataset_dict_2_hor[category] = canada_bi_directional_data_2_hor[canada_bi_directional_data_2_hor['Category'] == category]

with open(bi_directional_canada_2_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(canada_bi_directional_dataset_dict_2_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [38]:
canada_bi_directional_dataset_dict_2_hor['All-items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-3,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Indent,Weight,Parent,Parent_ID
0,2,All-items,2013,2013-01-15,121.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.147554,0.162866,0.0,1.0,NaN,NaN
1,2,All-items,2013,2013-02-15,122.7,1.147554,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.162866,-0.162866,0.0,1.0,NaN,NaN
2,2,All-items,2013,2013-03-15,122.9,0.162866,1.147554,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-0.162866,0.244200,0.0,1.0,NaN,NaN
3,2,All-items,2013,2013-04-15,122.7,-0.162866,0.162866,1.147554,NaN,NaN,...,NaN,NaN,NaN,NaN,0.244200,0.000000,0.0,1.0,NaN,NaN
4,2,All-items,2013,2013-05-15,123.0,0.244200,-0.162866,0.162866,1.147554,NaN,...,NaN,NaN,NaN,NaN,0.000000,0.081268,0.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2,All-items,2022,2022-10-15,153.8,0.717784,0.065509,-0.327118,0.130719,0.656170,...,0.898727,-0.138793,0.208261,0.697353,0.129955,-0.586130,0.0,1.0,NaN,NaN
118,2,All-items,2022,2022-11-15,154.0,0.129955,0.717784,0.065509,-0.327118,0.130719,...,1.027055,0.898727,-0.138793,0.208261,-0.586130,0.521174,0.0,1.0,NaN,NaN
119,2,All-items,2022,2022-12-15,153.1,-0.586130,0.129955,0.717784,0.065509,-0.327118,...,1.420382,1.027055,0.898727,-0.138793,0.521174,0.389106,0.0,1.0,NaN,NaN
120,2,All-items,2023,2023-01-15,153.9,0.521174,-0.586130,0.129955,0.717784,0.065509,...,0.602613,1.420382,1.027055,0.898727,0.389106,NaN,0.0,1.0,NaN,NaN
121,2,All-items,2023,2023-02-15,154.5,0.389106,0.521174,-0.586130,0.129955,0.717784,...,1.392134,0.602613,1.420382,1.027055,NaN,NaN,0.0,1.0,NaN,NaN

### 3 Horizons - Canada:

In [39]:
canada_bi_directional_data_3_hor=preprocess_data(canada_path, 12, 3)
canada_bi_directional_data_3_hor.columns = columns_order_3
canada_bi_directional_data_3_hor.sort_values(['Category','Category_id','Date'], inplace = True)
canada_bi_directional_dataset_dict_3_hor = {}

for category in list(canada_bi_directional_data_3_hor['Category'].unique()):
    canada_bi_directional_dataset_dict_3_hor[category] = canada_bi_directional_data_3_hor[canada_bi_directional_data_3_hor['Category'] == category]

with open(bi_directional_canada_3_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(canada_bi_directional_dataset_dict_3_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [40]:
canada_bi_directional_dataset_dict_3_hor['All-items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Inflation t+3,Indent,Weight,Parent,Parent_ID
0,2,All-items,2013,2013-01-15,121.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.147554,0.162866,-0.162866,0.0,1.0,NaN,NaN
1,2,All-items,2013,2013-02-15,122.7,1.147554,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.162866,-0.162866,0.244200,0.0,1.0,NaN,NaN
2,2,All-items,2013,2013-03-15,122.9,0.162866,1.147554,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.162866,0.244200,0.000000,0.0,1.0,NaN,NaN
3,2,All-items,2013,2013-04-15,122.7,-0.162866,0.162866,1.147554,NaN,NaN,...,NaN,NaN,NaN,0.244200,0.000000,0.081268,0.0,1.0,NaN,NaN
4,2,All-items,2013,2013-05-15,123.0,0.244200,-0.162866,0.162866,1.147554,NaN,...,NaN,NaN,NaN,0.000000,0.081268,0.000000,0.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2,All-items,2022,2022-10-15,153.8,0.717784,0.065509,-0.327118,0.130719,0.656170,...,-0.138793,0.208261,0.697353,0.129955,-0.586130,0.521174,0.0,1.0,NaN,NaN
118,2,All-items,2022,2022-11-15,154.0,0.129955,0.717784,0.065509,-0.327118,0.130719,...,0.898727,-0.138793,0.208261,-0.586130,0.521174,0.389106,0.0,1.0,NaN,NaN
119,2,All-items,2022,2022-12-15,153.1,-0.586130,0.129955,0.717784,0.065509,-0.327118,...,1.027055,0.898727,-0.138793,0.521174,0.389106,NaN,0.0,1.0,NaN,NaN
120,2,All-items,2023,2023-01-15,153.9,0.521174,-0.586130,0.129955,0.717784,0.065509,...,1.420382,1.027055,0.898727,0.389106,NaN,NaN,0.0,1.0,NaN,NaN
121,2,All-items,2023,2023-02-15,154.5,0.389106,0.521174,-0.586130,0.129955,0.717784,...,0.602613,1.420382,1.027055,NaN,NaN,NaN,0.0,1.0,NaN,NaN

### 4 Horizons - Canada:

In [41]:
canada_bi_directional_data_4_hor=preprocess_data(canada_path, 12, 4)
canada_bi_directional_data_4_hor.columns = columns_order_4
canada_bi_directional_data_4_hor.sort_values(['Category','Category_id','Date'], inplace = True)
canada_bi_directional_dataset_dict_4_hor = {}

for category in list(canada_bi_directional_data_4_hor['Category'].unique()):
    canada_bi_directional_dataset_dict_4_hor[category] = canada_bi_directional_data_4_hor[canada_bi_directional_data_4_hor['Category'] == category]

with open(bi_directional_canada_4_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(canada_bi_directional_dataset_dict_4_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [42]:
canada_bi_directional_dataset_dict_4_hor['All-items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Inflation t+3,Inflation t+4,Indent,Weight,Parent,Parent_ID
0,2,All-items,2013,2013-01-15,121.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.147554,0.162866,-0.162866,0.244200,0.0,1.0,NaN,NaN
1,2,All-items,2013,2013-02-15,122.7,1.147554,NaN,NaN,NaN,NaN,...,NaN,NaN,0.162866,-0.162866,0.244200,0.000000,0.0,1.0,NaN,NaN
2,2,All-items,2013,2013-03-15,122.9,0.162866,1.147554,NaN,NaN,NaN,...,NaN,NaN,-0.162866,0.244200,0.000000,0.081268,0.0,1.0,NaN,NaN
3,2,All-items,2013,2013-04-15,122.7,-0.162866,0.162866,1.147554,NaN,NaN,...,NaN,NaN,0.244200,0.000000,0.081268,0.000000,0.0,1.0,NaN,NaN
4,2,All-items,2013,2013-05-15,123.0,0.244200,-0.162866,0.162866,1.147554,NaN,...,NaN,NaN,0.000000,0.081268,0.000000,0.162338,0.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2,All-items,2022,2022-10-15,153.8,0.717784,0.065509,-0.327118,0.130719,0.656170,...,0.208261,0.697353,0.129955,-0.586130,0.521174,0.389106,0.0,1.0,NaN,NaN
118,2,All-items,2022,2022-11-15,154.0,0.129955,0.717784,0.065509,-0.327118,0.130719,...,-0.138793,0.208261,-0.586130,0.521174,0.389106,NaN,0.0,1.0,NaN,NaN
119,2,All-items,2022,2022-12-15,153.1,-0.586130,0.129955,0.717784,0.065509,-0.327118,...,0.898727,-0.138793,0.521174,0.389106,NaN,NaN,0.0,1.0,NaN,NaN
120,2,All-items,2023,2023-01-15,153.9,0.521174,-0.586130,0.129955,0.717784,0.065509,...,1.027055,0.898727,0.389106,NaN,NaN,NaN,0.0,1.0,NaN,NaN
121,2,All-items,2023,2023-02-15,154.5,0.389106,0.521174,-0.586130,0.129955,0.717784,...,1.420382,1.027055,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN

### 8 Horizons - Canada:

In [43]:
canada_bi_directional_data_8_hor=preprocess_data(canada_path, 12, 8)
canada_bi_directional_data_8_hor.columns = columns_order_8
canada_bi_directional_data_8_hor.sort_values(['Category','Category_id','Date'], inplace = True)
canada_bi_directional_dataset_dict_8_hor = {}

for category in list(canada_bi_directional_data_8_hor['Category'].unique()):
    canada_bi_directional_dataset_dict_8_hor[category] = canada_bi_directional_data_8_hor[canada_bi_directional_data_8_hor['Category'] == category]

with open(bi_directional_canada_8_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(canada_bi_directional_dataset_dict_8_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [44]:
canada_bi_directional_dataset_dict_8_hor['All-items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t+3,Inflation t+4,Inflation t+5,Inflation t+6,Inflation t+7,Inflation t+8,Indent,Weight,Parent,Parent_ID
0,2,All-items,2013,2013-01-15,121.3,NaN,NaN,NaN,NaN,NaN,...,-0.162866,0.244200,0.000000,0.081268,0.000000,0.162338,0.0,1.0,NaN,NaN
1,2,All-items,2013,2013-02-15,122.7,1.147554,NaN,NaN,NaN,NaN,...,0.244200,0.000000,0.081268,0.000000,0.162338,-0.243605,0.0,1.0,NaN,NaN
2,2,All-items,2013,2013-03-15,122.9,0.162866,1.147554,NaN,NaN,NaN,...,0.000000,0.081268,0.000000,0.162338,-0.243605,0.000000,0.0,1.0,NaN,NaN
3,2,All-items,2013,2013-04-15,122.7,-0.162866,0.162866,1.147554,NaN,NaN,...,0.081268,0.000000,0.162338,-0.243605,0.000000,-0.244200,0.0,1.0,NaN,NaN
4,2,All-items,2013,2013-05-15,123.0,0.244200,-0.162866,0.162866,1.147554,NaN,...,0.000000,0.162338,-0.243605,0.000000,-0.244200,0.325468,0.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2,All-items,2022,2022-10-15,153.8,0.717784,0.065509,-0.327118,0.130719,0.656170,...,0.521174,0.389106,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN
118,2,All-items,2022,2022-11-15,154.0,0.129955,0.717784,0.065509,-0.327118,0.130719,...,0.389106,NaN,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN
119,2,All-items,2022,2022-12-15,153.1,-0.586130,0.129955,0.717784,0.065509,-0.327118,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN
120,2,All-items,2023,2023-01-15,153.9,0.521174,-0.586130,0.129955,0.717784,0.065509,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN
121,2,All-items,2023,2023-02-15,154.5,0.389106,0.521174,-0.586130,0.129955,0.717784,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN

----------------

# Creating Canada's (1) Son-Parent Dict, (2) Category ID to Name Dict, (3) Categories per Indent Dict

In [45]:
canada_parent_dict = {}
canada_cat_cat_id_dict = {}
canada_indent_dict = {}

canada_parent_son_df = canada_data[['Category', 'Category_id','Parent', 'Parent_ID']].drop_duplicates()
canada_cat_cat_id_df = canada_data[['Category_id','Category']].drop_duplicates()
canada_indent_df = canada_data[['Indent','Category_id']].drop_duplicates()


for category_id in list(canada_parent_son_df['Category_id'].unique()):
    canada_parent_dict[category_id] = canada_parent_son_df[canada_parent_son_df['Category_id'] == category_id]['Parent_ID'].values[0]
    
for category_id in list(canada_cat_cat_id_df['Category_id'].unique()):
    canada_cat_cat_id_dict[category_id] = canada_cat_cat_id_df[canada_cat_cat_id_df['Category_id'] == category_id]['Category'].values[0]
    
for indent in list(canada_indent_df['Indent'].unique()):
    canada_indent_dict[indent] = list(canada_indent_df[canada_indent_df['Indent']==indent].Category_id.unique())

In [46]:
with open(parent_son_canada_pickle, 'wb') as handle: 
    pickle.dump(canada_parent_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
with open(category_id_to_name_canada_pickle, 'wb') as handle: 
    pickle.dump(canada_cat_cat_id_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open(category_id_per_indent_canada_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(canada_indent_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [47]:
# print categories with no parents - making sure the only category without parent id is all items (2)
for cat_id in list(canada_parent_dict.keys()):
    if pd.isna(canada_parent_dict[cat_id]):
        print(cat_id)

2

--------

# Creating Canada Parent to Sons Dict:

In [48]:
canada_data.Category_id.nunique()

293

In [49]:
l = list(canada_parent_dict.values())
parent_ids = [*set(l)]
len(parent_ids)

98

In [50]:
# removing none
parent_ids = [i for i in parent_ids if str(i) != 'nan']

In [51]:
parent_ids

[2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 10.0,
 13.0,
 14.0,
 16.0,
 17.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 25.0,
 29.0,
 30.0,
 34.0,
 37.0,
 39.0,
 40.0,
 45.0,
 47.0,
 49.0,
 50.0,
 55.0,
 58.0,
 59.0,
 62.0,
 65.0,
 66.0,
 69.0,
 71.0,
 73.0,
 75.0,
 79.0,
 80.0,
 84.0,
 91.0,
 96.0,
 97.0,
 98.0,
 99.0,
 101.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 110.0,
 116.0,
 117.0,
 118.0,
 122.0,
 126.0,
 127.0,
 135.0,
 139.0,
 140.0,
 161.0,
 166.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 183.0,
 185.0,
 188.0,
 194.0,
 195.0,
 198.0,
 201.0,
 202.0,
 204.0,
 212.0,
 213.0,
 219.0,
 220.0,
 221.0,
 224.0,
 228.0,
 230.0,
 233.0,
 240.0,
 243.0,
 247.0,
 248.0,
 252.0,
 256.0,
 257.0,
 258.0,
 262.0,
 266.0,
 310.0,
 311.0]

In [52]:
len(parent_ids)

97

In [53]:
canada_parent_dict[2]

nan

In [54]:
canada_parent_to_sons_dict = {}

for cat_id in sorted(list(canada_data.Category_id.unique())):
    if canada_parent_dict[cat_id] in list(canada_parent_to_sons_dict.keys()):
        canada_parent_to_sons_dict[canada_parent_dict[cat_id]]['sons'].append(cat_id)
    
    else:
        canada_parent_to_sons_dict[canada_parent_dict[cat_id]] = {'sons': [cat_id]}

In [55]:
canada_parent_to_sons_dict

{nan: {'sons': [2]},
 2.0: {'sons': [3,
   79,
   96,
   139,
   176,
   201,
   219,
   256,
   284,
   285,
   286,
   287,
   288,
   289,
   290,
   293,
   302]},
 3.0: {'sons': [4, 75, 294]},
 4.0: {'sons': [5, 16, 21, 29, 39, 49, 58]},
 5.0: {'sons': [6, 10, 13]},
 6.0: {'sons': [7, 8, 9]},
 10.0: {'sons': [11, 12]},
 13.0: {'sons': [14, 15]},
 16.0: {'sons': [17, 20]},
 17.0: {'sons': [18, 19]},
 21.0: {'sons': [22, 28]},
 22.0: {'sons': [23, 24, 25, 26, 27]},
 29.0: {'sons': [30, 34]},
 30.0: {'sons': [31, 32, 33]},
 34.0: {'sons': [35, 36, 37, 38]},
 39.0: {'sons': [40, 45, 48]},
 40.0: {'sons': [41, 42, 43, 44]},
 45.0: {'sons': [46, 47]},
 49.0: {'sons': [50, 55]},
 50.0: {'sons': [51, 52, 53, 54]},
 55.0: {'sons': [56, 57]},
 58.0: {'sons': [59, 62, 65, 68, 69, 74]},
 59.0: {'sons': [60, 61]},
 62.0: {'sons': [63, 64]},
 65.0: {'sons': [66, 67]},
 69.0: {'sons': [70, 71, 72, 73]},
 75.0: {'sons': [76, 77, 78]},
 79.0: {'sons': [80, 84, 91]},
 80.0: {'sons': [81, 82, 83]},
 84.0: {'sons': [85, 86, 87, 88, 89, 90]},
 91.0: {'sons': [92, 93, 94, 95]},
 96.0: {'sons': [97, 116]},
 97.0: {'sons': [98, 101, 104, 107, 110]},
 98.0: {'sons': [99, 100, 297, 313]},
 101.0: {'sons': [102, 103]},
 104.0: {'sons': [105, 106]},
 107.0: {'sons': [108, 109]},
 110.0: {'sons': [111, 112, 113, 114, 115, 298]},
 116.0: {'sons': [117, 126, 138]},
 117.0: {'sons': [118, 122]},
 118.0: {'sons': [119, 120, 121]},
 122.0: {'sons': [123, 124]},
 126.0: {'sons': [127, 132, 135]},
 127.0: {'sons': [128, 129, 130, 131]},
 135.0: {'sons': [136, 137]},
 139.0: {'sons': [140, 161, 166, 171]},
 140.0: {'sons': [141, 148, 155]},
 161.0: {'sons': [162, 163, 164, 165]},
 166.0: {'sons': [168, 169, 369]},
 176.0: {'sons': [177, 194]},
 177.0: {'sons': [178, 183, 312]},
 178.0: {'sons': [179, 182]},
 179.0: {'sons': [180, 181]},
 183.0: {'sons': [184, 185, 188]},
 185.0: {'sons': [186, 187]},
 188.0: {'sons': [189, 190, 191, 192, 193]},
 194.0: {'sons': [195, 198]},
 195.0: {'sons': [196, 197]},
 198.0: {'sons': [199, 200]},
 201.0: {'sons': [202, 212]},
 310.0: {'sons': [204, 207, 209]},
 204.0: {'sons': [205, 206, 366]},
 311.0: {'sons': [210, 211, 301]},
 212.0: {'sons': [213, 218]},
 213.0: {'sons': [214, 215, 216, 217]},
 219.0: {'sons': [220, 247]},
 220.0: {'sons': [221, 228, 233, 240, 243]},
 221.0: {'sons': [222, 224, 227, 304, 305, 306]},
 228.0: {'sons': [229, 230]},
 230.0: {'sons': [231, 232]},
 233.0: {'sons': [234, 236, 308]},
 240.0: {'sons': [241, 242]},
 243.0: {'sons': [244, 245, 246]},
 247.0: {'sons': [248, 252]},
 248.0: {'sons': [249, 250, 251]},
 252.0: {'sons': [253, 254, 255]},
 256.0: {'sons': [257, 266, 367]},
 257.0: {'sons': [258, 262]},
 258.0: {'sons': [259, 260, 261]},
 262.0: {'sons': [263, 264, 265]},
 266.0: {'sons': [267, 268]},
 202.0: {'sons': [310, 311]},
 224.0: {'sons': [314, 315]},
 14.0: {'sons': [316, 317]},
 19.0: {'sons': [318, 319]},
 20.0: {'sons': [320, 321]},
 23.0: {'sons': [322, 323]},
 25.0: {'sons': [324, 325, 326, 327]},
 37.0: {'sons': [330, 331]},
 47.0: {'sons': [332, 333, 334, 335]},
 66.0: {'sons': [336, 337]},
 71.0: {'sons': [341, 342]},
 73.0: {'sons': [343, 344, 345]},
 105.0: {'sons': [346, 347]},
 106.0: {'sons': [348, 349, 350]},
 108.0: {'sons': [351, 352]},
 99.0: {'sons': [368]},
 180.0: {'sons': [371, 372]}}

In [56]:
del canada_parent_to_sons_dict[canada_parent_dict[2]]

In [57]:
canada_parent_to_sons_dict

{2.0: {'sons': [3,
   79,
   96,
   139,
   176,
   201,
   219,
   256,
   284,
   285,
   286,
   287,
   288,
   289,
   290,
   293,
   302]},
 3.0: {'sons': [4, 75, 294]},
 4.0: {'sons': [5, 16, 21, 29, 39, 49, 58]},
 5.0: {'sons': [6, 10, 13]},
 6.0: {'sons': [7, 8, 9]},
 10.0: {'sons': [11, 12]},
 13.0: {'sons': [14, 15]},
 16.0: {'sons': [17, 20]},
 17.0: {'sons': [18, 19]},
 21.0: {'sons': [22, 28]},
 22.0: {'sons': [23, 24, 25, 26, 27]},
 29.0: {'sons': [30, 34]},
 30.0: {'sons': [31, 32, 33]},
 34.0: {'sons': [35, 36, 37, 38]},
 39.0: {'sons': [40, 45, 48]},
 40.0: {'sons': [41, 42, 43, 44]},
 45.0: {'sons': [46, 47]},
 49.0: {'sons': [50, 55]},
 50.0: {'sons': [51, 52, 53, 54]},
 55.0: {'sons': [56, 57]},
 58.0: {'sons': [59, 62, 65, 68, 69, 74]},
 59.0: {'sons': [60, 61]},
 62.0: {'sons': [63, 64]},
 65.0: {'sons': [66, 67]},
 69.0: {'sons': [70, 71, 72, 73]},
 75.0: {'sons': [76, 77, 78]},
 79.0: {'sons': [80, 84, 91]},
 80.0: {'sons': [81, 82, 83]},
 84.0: {'sons': [85, 86, 87, 88, 89, 90]},
 91.0: {'sons': [92, 93, 94, 95]},
 96.0: {'sons': [97, 116]},
 97.0: {'sons': [98, 101, 104, 107, 110]},
 98.0: {'sons': [99, 100, 297, 313]},
 101.0: {'sons': [102, 103]},
 104.0: {'sons': [105, 106]},
 107.0: {'sons': [108, 109]},
 110.0: {'sons': [111, 112, 113, 114, 115, 298]},
 116.0: {'sons': [117, 126, 138]},
 117.0: {'sons': [118, 122]},
 118.0: {'sons': [119, 120, 121]},
 122.0: {'sons': [123, 124]},
 126.0: {'sons': [127, 132, 135]},
 127.0: {'sons': [128, 129, 130, 131]},
 135.0: {'sons': [136, 137]},
 139.0: {'sons': [140, 161, 166, 171]},
 140.0: {'sons': [141, 148, 155]},
 161.0: {'sons': [162, 163, 164, 165]},
 166.0: {'sons': [168, 169, 369]},
 176.0: {'sons': [177, 194]},
 177.0: {'sons': [178, 183, 312]},
 178.0: {'sons': [179, 182]},
 179.0: {'sons': [180, 181]},
 183.0: {'sons': [184, 185, 188]},
 185.0: {'sons': [186, 187]},
 188.0: {'sons': [189, 190, 191, 192, 193]},
 194.0: {'sons': [195, 198]},
 195.0: {'sons': [196, 197]},
 198.0: {'sons': [199, 200]},
 201.0: {'sons': [202, 212]},
 310.0: {'sons': [204, 207, 209]},
 204.0: {'sons': [205, 206, 366]},
 311.0: {'sons': [210, 211, 301]},
 212.0: {'sons': [213, 218]},
 213.0: {'sons': [214, 215, 216, 217]},
 219.0: {'sons': [220, 247]},
 220.0: {'sons': [221, 228, 233, 240, 243]},
 221.0: {'sons': [222, 224, 227, 304, 305, 306]},
 228.0: {'sons': [229, 230]},
 230.0: {'sons': [231, 232]},
 233.0: {'sons': [234, 236, 308]},
 240.0: {'sons': [241, 242]},
 243.0: {'sons': [244, 245, 246]},
 247.0: {'sons': [248, 252]},
 248.0: {'sons': [249, 250, 251]},
 252.0: {'sons': [253, 254, 255]},
 256.0: {'sons': [257, 266, 367]},
 257.0: {'sons': [258, 262]},
 258.0: {'sons': [259, 260, 261]},
 262.0: {'sons': [263, 264, 265]},
 266.0: {'sons': [267, 268]},
 202.0: {'sons': [310, 311]},
 224.0: {'sons': [314, 315]},
 14.0: {'sons': [316, 317]},
 19.0: {'sons': [318, 319]},
 20.0: {'sons': [320, 321]},
 23.0: {'sons': [322, 323]},
 25.0: {'sons': [324, 325, 326, 327]},
 37.0: {'sons': [330, 331]},
 47.0: {'sons': [332, 333, 334, 335]},
 66.0: {'sons': [336, 337]},
 71.0: {'sons': [341, 342]},
 73.0: {'sons': [343, 344, 345]},
 105.0: {'sons': [346, 347]},
 106.0: {'sons': [348, 349, 350]},
 108.0: {'sons': [351, 352]},
 99.0: {'sons': [368]},
 180.0: {'sons': [371, 372]}}

In [58]:
len(list(canada_parent_to_sons_dict.keys()))

97

In [59]:
with open(parent_to_sons_list_canada_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(canada_parent_to_sons_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

----------------------

# Bi Directional - Norway Dataset:

In [60]:
# Preprocess Test:
norway_path = '/Users/mvilenko/Library/CloudStorage/OneDrive-PayPal/CPI_HRNN - version 2.0/resources/norway_cpi_dataset.csv'
norway_data=preprocess_data(norway_path, 12, 1)
norway_data.columns = columns_order
norway_data.sort_values(['Category','Category_id','Date'], inplace = True)
norway_dataset_dict = {}

for category in list(norway_data['Category'].unique()):
    norway_dataset_dict[category] = norway_data[norway_data['Category'] == category]
    
with open(BI_DIRECTIONAL_NORWAY_PICKLE, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(norway_dataset_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [61]:
norway_dataset_dict['All-items'].Year.unique()

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022, 2023])

In [62]:
norway_dataset_dict['All-items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-4,Inflation t-3,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Indent,Weight,Parent,Parent_ID
0,0,All-items,2009,2009-01-15,88.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.786079,0,1000.0,NaN,NaN
1,0,All-items,2009,2009-02-15,89.4,0.786079,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,0,1000.0,NaN,NaN
2,0,All-items,2009,2009-03-15,89.4,0.000000,0.786079,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.335009,0,1000.0,NaN,NaN
3,0,All-items,2009,2009-04-15,89.7,0.335009,0.000000,0.786079,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.222717,0,1000.0,NaN,NaN
4,0,All-items,2009,2009-05-15,89.9,0.222717,0.335009,0.000000,0.786079,NaN,...,NaN,NaN,NaN,NaN,NaN,0.554633,0,1000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,0,All-items,2023,2023-01-15,126.1,0.158730,0.079460,-0.158856,0.317965,1.362747,...,0.247219,1.161839,0.586021,1.097521,-0.929453,0.395727,0,1000.0,NaN,NaN
169,0,All-items,2023,2023-02-15,126.6,0.395727,0.158730,0.079460,-0.158856,0.317965,...,0.901276,0.247219,1.161839,0.586021,1.097521,0.786786,0,1000.0,NaN,NaN
170,0,All-items,2023,2023-03-15,127.6,0.786786,0.395727,0.158730,0.079460,-0.158856,...,1.296615,0.901276,0.247219,1.161839,0.586021,1.091203,0,1000.0,NaN,NaN
171,0,All-items,2023,2023-04-15,129.0,1.091203,0.786786,0.395727,0.158730,0.079460,...,-0.241838,1.296615,0.901276,0.247219,1.161839,0.464038,0,1000.0,NaN,NaN
172,0,All-items,2023,2023-05-15,129.6,0.464038,1.091203,0.786786,0.395727,0.158730,...,1.362747,-0.241838,1.296615,0.901276,0.247219,NaN,0,1000.0,NaN,NaN

### 2 Horizons - Norway:

In [63]:
norway_bi_directional_data_2_hor=preprocess_data(norway_path, 12, 2)
norway_bi_directional_data_2_hor.columns = columns_order_2
norway_bi_directional_data_2_hor.sort_values(['Category','Category_id','Date'], inplace = True)
norway_bi_directional_dataset_dict_2_hor = {}

for category in list(norway_bi_directional_data_2_hor['Category'].unique()):
    norway_bi_directional_dataset_dict_2_hor[category] = norway_bi_directional_data_2_hor[norway_bi_directional_data_2_hor['Category'] == category]

with open(bi_directional_norway_2_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(norway_bi_directional_dataset_dict_2_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [64]:
norway_bi_directional_dataset_dict_2_hor['All-items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-3,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Indent,Weight,Parent,Parent_ID
0,0,All-items,2009,2009-01-15,88.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.786079,0.000000,0,1000.0,NaN,NaN
1,0,All-items,2009,2009-02-15,89.4,0.786079,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,0.335009,0,1000.0,NaN,NaN
2,0,All-items,2009,2009-03-15,89.4,0.000000,0.786079,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.335009,0.222717,0,1000.0,NaN,NaN
3,0,All-items,2009,2009-04-15,89.7,0.335009,0.000000,0.786079,NaN,NaN,...,NaN,NaN,NaN,NaN,0.222717,0.554633,0,1000.0,NaN,NaN
4,0,All-items,2009,2009-05-15,89.9,0.222717,0.335009,0.000000,0.786079,NaN,...,NaN,NaN,NaN,NaN,0.554633,-0.554633,0,1000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,0,All-items,2023,2023-01-15,126.1,0.158730,0.079460,-0.158856,0.317965,1.362747,...,1.161839,0.586021,1.097521,-0.929453,0.395727,0.786786,0,1000.0,NaN,NaN
169,0,All-items,2023,2023-02-15,126.6,0.395727,0.158730,0.079460,-0.158856,0.317965,...,0.247219,1.161839,0.586021,1.097521,0.786786,1.091203,0,1000.0,NaN,NaN
170,0,All-items,2023,2023-03-15,127.6,0.786786,0.395727,0.158730,0.079460,-0.158856,...,0.901276,0.247219,1.161839,0.586021,1.091203,0.464038,0,1000.0,NaN,NaN
171,0,All-items,2023,2023-04-15,129.0,1.091203,0.786786,0.395727,0.158730,0.079460,...,1.296615,0.901276,0.247219,1.161839,0.464038,NaN,0,1000.0,NaN,NaN
172,0,All-items,2023,2023-05-15,129.6,0.464038,1.091203,0.786786,0.395727,0.158730,...,-0.241838,1.296615,0.901276,0.247219,NaN,NaN,0,1000.0,NaN,NaN

### 3 Horizons - Norway:

In [65]:
norway_bi_directional_data_3_hor=preprocess_data(norway_path, 12, 3)
norway_bi_directional_data_3_hor.columns = columns_order_3
norway_bi_directional_data_3_hor.sort_values(['Category','Category_id','Date'], inplace = True)
norway_bi_directional_dataset_dict_3_hor = {}

for category in list(norway_bi_directional_data_3_hor['Category'].unique()):
    norway_bi_directional_dataset_dict_3_hor[category] = norway_bi_directional_data_3_hor[norway_bi_directional_data_3_hor['Category'] == category]

with open(bi_directional_norway_3_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(norway_bi_directional_dataset_dict_3_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [66]:
norway_bi_directional_dataset_dict_3_hor['All-items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-2,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Inflation t+3,Indent,Weight,Parent,Parent_ID
0,0,All-items,2009,2009-01-15,88.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.786079,0.000000,0.335009,0,1000.0,NaN,NaN
1,0,All-items,2009,2009-02-15,89.4,0.786079,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,0.335009,0.222717,0,1000.0,NaN,NaN
2,0,All-items,2009,2009-03-15,89.4,0.000000,0.786079,NaN,NaN,NaN,...,NaN,NaN,NaN,0.335009,0.222717,0.554633,0,1000.0,NaN,NaN
3,0,All-items,2009,2009-04-15,89.7,0.335009,0.000000,0.786079,NaN,NaN,...,NaN,NaN,NaN,0.222717,0.554633,-0.554633,0,1000.0,NaN,NaN
4,0,All-items,2009,2009-05-15,89.9,0.222717,0.335009,0.000000,0.786079,NaN,...,NaN,NaN,NaN,0.554633,-0.554633,-0.222717,0,1000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,0,All-items,2023,2023-01-15,126.1,0.158730,0.079460,-0.158856,0.317965,1.362747,...,0.586021,1.097521,-0.929453,0.395727,0.786786,1.091203,0,1000.0,NaN,NaN
169,0,All-items,2023,2023-02-15,126.6,0.395727,0.158730,0.079460,-0.158856,0.317965,...,1.161839,0.586021,1.097521,0.786786,1.091203,0.464038,0,1000.0,NaN,NaN
170,0,All-items,2023,2023-03-15,127.6,0.786786,0.395727,0.158730,0.079460,-0.158856,...,0.247219,1.161839,0.586021,1.091203,0.464038,NaN,0,1000.0,NaN,NaN
171,0,All-items,2023,2023-04-15,129.0,1.091203,0.786786,0.395727,0.158730,0.079460,...,0.901276,0.247219,1.161839,0.464038,NaN,NaN,0,1000.0,NaN,NaN
172,0,All-items,2023,2023-05-15,129.6,0.464038,1.091203,0.786786,0.395727,0.158730,...,1.296615,0.901276,0.247219,NaN,NaN,NaN,0,1000.0,NaN,NaN

### 4 Horizons - Norway:

In [67]:
norway_bi_directional_data_4_hor=preprocess_data(norway_path, 12, 4)
norway_bi_directional_data_4_hor.columns = columns_order_4
norway_bi_directional_data_4_hor.sort_values(['Category','Category_id','Date'], inplace = True)
norway_bi_directional_dataset_dict_4_hor = {}

for category in list(norway_bi_directional_data_4_hor['Category'].unique()):
    norway_bi_directional_dataset_dict_4_hor[category] = norway_bi_directional_data_4_hor[norway_bi_directional_data_4_hor['Category'] == category]

with open(bi_directional_norway_4_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(norway_bi_directional_dataset_dict_4_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [68]:
norway_bi_directional_dataset_dict_4_hor['All-items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t-1,Inflation t,Inflation t+1,Inflation t+2,Inflation t+3,Inflation t+4,Indent,Weight,Parent,Parent_ID
0,0,All-items,2009,2009-01-15,88.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.786079,0.000000,0.335009,0.222717,0,1000.0,NaN,NaN
1,0,All-items,2009,2009-02-15,89.4,0.786079,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.335009,0.222717,0.554633,0,1000.0,NaN,NaN
2,0,All-items,2009,2009-03-15,89.4,0.000000,0.786079,NaN,NaN,NaN,...,NaN,NaN,0.335009,0.222717,0.554633,-0.554633,0,1000.0,NaN,NaN
3,0,All-items,2009,2009-04-15,89.7,0.335009,0.000000,0.786079,NaN,NaN,...,NaN,NaN,0.222717,0.554633,-0.554633,-0.222717,0,1000.0,NaN,NaN
4,0,All-items,2009,2009-05-15,89.9,0.222717,0.335009,0.000000,0.786079,NaN,...,NaN,NaN,0.554633,-0.554633,-0.222717,0.777350,0,1000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,0,All-items,2023,2023-01-15,126.1,0.158730,0.079460,-0.158856,0.317965,1.362747,...,1.097521,-0.929453,0.395727,0.786786,1.091203,0.464038,0,1000.0,NaN,NaN
169,0,All-items,2023,2023-02-15,126.6,0.395727,0.158730,0.079460,-0.158856,0.317965,...,0.586021,1.097521,0.786786,1.091203,0.464038,NaN,0,1000.0,NaN,NaN
170,0,All-items,2023,2023-03-15,127.6,0.786786,0.395727,0.158730,0.079460,-0.158856,...,1.161839,0.586021,1.091203,0.464038,NaN,NaN,0,1000.0,NaN,NaN
171,0,All-items,2023,2023-04-15,129.0,1.091203,0.786786,0.395727,0.158730,0.079460,...,0.247219,1.161839,0.464038,NaN,NaN,NaN,0,1000.0,NaN,NaN
172,0,All-items,2023,2023-05-15,129.6,0.464038,1.091203,0.786786,0.395727,0.158730,...,0.901276,0.247219,NaN,NaN,NaN,NaN,0,1000.0,NaN,NaN

### 8 Horizons - Norway:

In [69]:
norway_bi_directional_data_8_hor=preprocess_data(norway_path, 12, 8)
norway_bi_directional_data_8_hor.columns = columns_order_8
norway_bi_directional_data_8_hor.sort_values(['Category','Category_id','Date'], inplace = True)
norway_bi_directional_dataset_dict_8_hor = {}

for category in list(norway_bi_directional_data_8_hor['Category'].unique()):
    norway_bi_directional_dataset_dict_8_hor[category] = norway_bi_directional_data_8_hor[norway_bi_directional_data_8_hor['Category'] == category]

with open(bi_directional_norway_8_period_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(norway_bi_directional_dataset_dict_8_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)

/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/mvilenko/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [70]:
norway_bi_directional_dataset_dict_8_hor['All-items']

,Category_id,Category,Year,Date,Price,Inflation t-12,Inflation t-11,Inflation t-10,Inflation t-9,Inflation t-8,...,Inflation t+3,Inflation t+4,Inflation t+5,Inflation t+6,Inflation t+7,Inflation t+8,Indent,Weight,Parent,Parent_ID
0,0,All-items,2009,2009-01-15,88.7,NaN,NaN,NaN,NaN,NaN,...,0.335009,0.222717,0.554633,-0.554633,-0.222717,0.777350,0,1000.0,NaN,NaN
1,0,All-items,2009,2009-02-15,89.4,0.786079,NaN,NaN,NaN,NaN,...,0.222717,0.554633,-0.554633,-0.222717,0.777350,-0.221484,0,1000.0,NaN,NaN
2,0,All-items,2009,2009-03-15,89.4,0.000000,0.786079,NaN,NaN,NaN,...,0.554633,-0.554633,-0.222717,0.777350,-0.221484,0.332042,0,1000.0,NaN,NaN
3,0,All-items,2009,2009-04-15,89.7,0.335009,0.000000,0.786079,NaN,NaN,...,-0.554633,-0.222717,0.777350,-0.221484,0.332042,0.330943,0,1000.0,NaN,NaN
4,0,All-items,2009,2009-05-15,89.9,0.222717,0.335009,0.000000,0.786079,NaN,...,-0.222717,0.777350,-0.221484,0.332042,0.330943,0.110072,0,1000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,0,All-items,2023,2023-01-15,126.1,0.158730,0.079460,-0.158856,0.317965,1.362747,...,1.091203,0.464038,NaN,NaN,NaN,NaN,0,1000.0,NaN,NaN
169,0,All-items,2023,2023-02-15,126.6,0.395727,0.158730,0.079460,-0.158856,0.317965,...,0.464038,NaN,NaN,NaN,NaN,NaN,0,1000.0,NaN,NaN
170,0,All-items,2023,2023-03-15,127.6,0.786786,0.395727,0.158730,0.079460,-0.158856,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1000.0,NaN,NaN
171,0,All-items,2023,2023-04-15,129.0,1.091203,0.786786,0.395727,0.158730,0.079460,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1000.0,NaN,NaN
172,0,All-items,2023,2023-05-15,129.6,0.464038,1.091203,0.786786,0.395727,0.158730,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1000.0,NaN,NaN

-------

# Creating Norway's (1) Son-Parent Dict, (2) Category ID to Name Dict, (3) Categories per Indent Dict

In [71]:
norway_parent_dict = {}
norway_cat_cat_id_dict = {}
norway_indent_dict = {}

norway_parent_son_df = norway_data[['Category', 'Category_id','Parent', 'Parent_ID']].drop_duplicates()
norway_cat_cat_id_df = norway_data[['Category_id','Category']].drop_duplicates()
norway_indent_df = norway_data[['Indent','Category_id']].drop_duplicates()


for category_id in list(norway_parent_son_df['Category_id'].unique()):
    norway_parent_dict[category_id] = norway_parent_son_df[norway_parent_son_df['Category_id'] == category_id]['Parent_ID'].values[0]
    
for category_id in list(norway_cat_cat_id_df['Category_id'].unique()):
    norway_cat_cat_id_dict[category_id] = norway_cat_cat_id_df[norway_cat_cat_id_df['Category_id'] == category_id]['Category'].values[0]
    
for indent in list(norway_indent_df['Indent'].unique()):
    norway_indent_dict[indent] = list(norway_indent_df[norway_indent_df['Indent']==indent].Category_id.unique())

In [72]:
with open(parent_son_norway_pickle, 'wb') as handle: 
    pickle.dump(norway_parent_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
with open(category_id_to_name_norway_pickle, 'wb') as handle: 
    pickle.dump(norway_cat_cat_id_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open(category_id_per_indent_norway_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(norway_indent_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [73]:
# print categories with no parents - making sure the only category without parent id is all items (2)
for cat_id in list(norway_parent_dict.keys()):
    if pd.isna(norway_parent_dict[cat_id]):
        print(cat_id)

0

---------------

# Creating Norway Parent to Sons Dict:

In [74]:
norway_data.Category_id.nunique()

52

In [75]:
norway_l = list(norway_parent_dict.values())
norway_parent_ids = [*set(norway_l)]
len(norway_parent_ids)

13

In [76]:
# removing none
norway_parent_ids = [i for i in norway_parent_ids if str(i) != 'nan']

In [77]:
len(norway_parent_ids)

12

In [78]:
norway_parent_ids

[0.0, 2.0, 3.0, 4.0, 1.0, 5.0, 6.0, 7.0, 9.0, 8.0, 11.0, 12.0]

In [79]:
norway_parent_to_sons_dict = {}

for cat_id in sorted(list(norway_data.Category_id.unique())):
    if norway_parent_dict[cat_id] in list(norway_parent_to_sons_dict.keys()):
        norway_parent_to_sons_dict[norway_parent_dict[cat_id]]['sons'].append(cat_id)
    
    else:
        norway_parent_to_sons_dict[norway_parent_dict[cat_id]] = {'sons': [cat_id]}

In [80]:
len(norway_parent_to_sons_dict.keys())

13

In [81]:
norway_parent_to_sons_dict

{nan: {'sons': [0]},
 0.0: {'sons': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]},
 1.0: {'sons': [13, 14]},
 2.0: {'sons': [15, 16]},
 3.0: {'sons': [17, 18]},
 4.0: {'sons': [19, 20, 21, 22, 23]},
 5.0: {'sons': [24, 25, 26, 27, 28, 29]},
 6.0: {'sons': [30, 31]},
 7.0: {'sons': [32, 33, 34]},
 8.0: {'sons': [35, 36, 37]},
 9.0: {'sons': [38, 39, 40, 41, 42, 43]},
 11.0: {'sons': [44, 45]},
 12.0: {'sons': [46, 47, 48, 49, 50, 51]}}

In [82]:
del norway_parent_to_sons_dict[norway_parent_dict[0]]

In [83]:
norway_parent_to_sons_dict

{0.0: {'sons': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]},
 1.0: {'sons': [13, 14]},
 2.0: {'sons': [15, 16]},
 3.0: {'sons': [17, 18]},
 4.0: {'sons': [19, 20, 21, 22, 23]},
 5.0: {'sons': [24, 25, 26, 27, 28, 29]},
 6.0: {'sons': [30, 31]},
 7.0: {'sons': [32, 33, 34]},
 8.0: {'sons': [35, 36, 37]},
 9.0: {'sons': [38, 39, 40, 41, 42, 43]},
 11.0: {'sons': [44, 45]},
 12.0: {'sons': [46, 47, 48, 49, 50, 51]}}

In [84]:
with open(parent_to_sons_list_norway_pickle, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(norway_parent_to_sons_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

----

# RUN ALL ABOVE ^^^^^^

----------

# STOPPPPP HERE!!!!!!

-------

# Creating Parent-Child Correlation Pickle File, Category Weight Pickle File, Category ID to Name Pickle File and Category Indent Pickle File:

In [ ]:
corr_df = data[data.Year.between(2012,2018)][['Category','Category_id','Date','Price','Parent','Parent_ID']]
corr_df.sort_values(['Category','Category_id','Date'], inplace = True)
pivot_corr_df = corr_df.pivot_table(index = 'Category_id', columns = 'Date', values='Price')
pivot_corr_df.reset_index(inplace = True)
relevant_columns = [x for x in pivot_corr_df.columns if x not in ['Date', 'Category_id']]
pivot_corr_df.dropna(subset=relevant_columns, axis=0, inplace=True)
pivot_corr_df[relevant_columns] = pivot_corr_df[relevant_columns].fillna(pivot_corr_df[relevant_columns].mean(axis=1))

In [ ]:
parent_dict = {}
weight_dict = {}
cat_cat_id_dict = {}
indent_dict = {}

parent_son_df = data[['Category', 'Category_id','Parent', 'Parent_ID']].drop_duplicates()
cat_weight_df = data[['Category_id','Weight']].drop_duplicates()
cat_cat_id_df = data[['Category_id','Category']].drop_duplicates()
indent_df = data[['Indent','Category_id']].drop_duplicates()


for category_id in list(parent_son_df['Category_id'].unique()):
    parent_dict[category_id] = parent_son_df[parent_son_df['Category_id'] == category_id]['Parent_ID'].values[0]
    
for category_id in list(cat_weight_df['Category_id'].unique()):
    weight_dict[category_id] = cat_weight_df[cat_weight_df['Category_id'] == category_id]['Weight'].values[0]
    
for category_id in list(cat_cat_id_df['Category_id'].unique()):
    cat_cat_id_dict[category_id] = cat_cat_id_df[cat_cat_id_df['Category_id'] == category_id]['Category'].values[0]
    
for indent in list(indent_df['Indent'].unique()):
    indent_dict[indent] = list(indent_df[indent_df['Indent']==indent].Category_id.unique())

In [ ]:
with open(PARENT_CHILD_PICKLE, 'wb') as handle: 
    pickle.dump(parent_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open(CAT_WEIGHT_PICKLE, 'wb') as handle: 
    pickle.dump(weight_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
with open(CAT_ID_TO_NAME_PICKLE, 'wb') as handle: 
    pickle.dump(cat_cat_id_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open(CAT_PER_INDENT_PICKLE, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(indent_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
# print categories with no parents - making sure the only category without parent id is all items (8106)
for cat_id in list(parent_dict.keys()):
    if pd.isna(parent_dict[cat_id]):
        print(cat_id)

In [ ]:
corr_dict = {}
for cat_id in list(pivot_corr_df.Category_id.unique()):
    relevant_columns = [x for x in pivot_corr_df.columns if x not in ['Date', 'Category_id']]
    son_array = pivot_corr_df[(pivot_corr_df['Category_id']==cat_id)][relevant_columns].values.flatten().tolist()
    parent_array = pivot_corr_df[(pivot_corr_df['Category_id']==parent_dict[cat_id])][relevant_columns].values.flatten().tolist()
    if parent_dict[cat_id] not in pivot_corr_df.Category_id.unique():
        corr = None
    else:
        corr = stats.pearsonr(son_array,parent_array)[0]

    corr_dict[(cat_id,parent_dict[cat_id])] = corr

#corr_dict

In [ ]:
with open(PARENT_CHILD_CORR_PICKLE, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(corr_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

-----------

In [ ]:
reversed_parent_son_corr_dict = {}

for cat_id in list(pivot_corr_df.Category_id.unique()):
    relevant_columns = [x for x in pivot_corr_df.columns if x not in ['Date', 'Category_id']]
    son_array = pivot_corr_df[(pivot_corr_df['Category_id']==cat_id)][relevant_columns].values.flatten().tolist()
    parent_array = pivot_corr_df[(pivot_corr_df['Category_id']==parent_dict[cat_id])][relevant_columns].values.flatten().tolist()
    if parent_dict[cat_id] not in pivot_corr_df.Category_id.unique():
        corr = None
    else:
        corr = stats.pearsonr(son_array,parent_array)[0]
    
    if parent_dict[cat_id] in list(reversed_parent_son_corr_dict.keys()):
        reversed_parent_son_corr_dict[parent_dict[cat_id]]['sons'].append(cat_id)
        reversed_parent_son_corr_dict[parent_dict[cat_id]]['corrs'].append(corr)
    
    else:
        reversed_parent_son_corr_dict[parent_dict[cat_id]] = {'sons': [cat_id], 'corrs': [corr]}

In [ ]:
reversed_parent_son_dict = {}
reversed_parent_son_corr_final = {} 

for parent_id in list(reversed_parent_son_corr_dict.keys()):
    corrs = reversed_parent_son_corr_dict[parent_id]['corrs']
    if None in corrs:
        reversed_parent_son_dict[parent_id] = reversed_parent_son_corr_dict[parent_id]['sons'][0]
        reversed_parent_son_corr_final[(parent_id, reversed_parent_son_corr_dict[parent_id]['sons'][0])] = None
    else:
        argmax_corr = np.argmax(corrs)
        highest_corr_son = reversed_parent_son_corr_dict[parent_id]['sons'][argmax_corr]
        
        reversed_parent_son_dict[parent_id] = highest_corr_son
        reversed_parent_son_corr_final[(parent_id, highest_corr_son)] = reversed_parent_son_corr_dict[parent_id]['corrs'][argmax_corr]

In [ ]:
with open(REVERSED_PARENT_SON_PICKLE, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(reversed_parent_son_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
with open(REVERSED_CORR_PICKLE, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(reversed_parent_son_corr_final, handle, protocol=pickle.HIGHEST_PROTOCOL)

tests:

In [ ]:
reversed_parent_son_corr_dict

In [ ]:
print(f"Parent 6567.0 all values: {reversed_parent_son_corr_dict[6567.0]}")
print(f"Parent 6567.0 chosen son: {reversed_parent_son_dict[6567.0]}")

In [ ]:
reversed_parent_son_corr_final[6567.0,4.0]

In [ ]:
print(f"Parent 3234.0 all values: {reversed_parent_son_corr_dict[3234.0]}")
print(f"Parent 3234.0 chosen son: {reversed_parent_son_dict[3234.0]}")

In [ ]:
reversed_parent_son_corr_final[3234.0,9972.0]

In [ ]:
print(f"Parent 6582.0 all values: {reversed_parent_son_corr_dict[6582.0]}")
print(f"Parent 6582.0 chosen son: {reversed_parent_son_dict[6582.0]}")

In [ ]:
reversed_parent_son_corr_final[6582.0,4278.0]

In [ ]:
print(f"Parent 8871.0 all values: {reversed_parent_son_corr_dict[8871.0]}")
print(f"Parent 8871.0 chosen son: {reversed_parent_son_dict[8871.0]}")

In [ ]:
reversed_parent_son_corr_final

------------------

# Reversed Parent to Sons Dict:

In [ ]:
parent_to_sons_dict = {}

for cat_id in list(pivot_corr_df.Category_id.unique()):
    if parent_dict[cat_id] in list(parent_to_sons_dict.keys()):
        parent_to_sons_dict[parent_dict[cat_id]]['sons'].append(cat_id)
    
    else:
        parent_to_sons_dict[parent_dict[cat_id]] = {'sons': [cat_id]}

In [ ]:
parent_to_sons_dict

In [ ]:
with open(REVERSED_PARENT_TO_SON_LIST, 'wb') as handle: #wb means write - creating a pickle file
    pickle.dump(parent_to_sons_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

------

# expanding horizons:

In [ ]:
def create_horizon_df(path = HRNN_PATH, horizon = 1):
    # Preprocess Test:
    data=preprocess_data(path, 12, 1 + horizon)
    column_order_pt1 = ['Category_id', 'Category', 'Year', 'Date', 'Price', 'Inflation t-12', 'Inflation t-11', 'Inflation t-10', 'Inflation t-9', 'Inflation t-8', 'Inflation t-7', 'Inflation t-6', 'Inflation t-5', 'Inflation t-4', 'Inflation t-3', 'Inflation t-2', 'Inflation t-1', 'Inflation t']
    column_order_pt3 = ['Indent', 'Weight', 'Parent', 'Parent_ID']

    column_order_pt2 = []
    for h in range(horizon+1):
        column_order_pt2.append('Inflation t+'+str(1+h))

    column_order = column_order_pt1 + column_order_pt2 + column_order_pt3

    data.columns = column_order
    
    data.sort_values(['Category','Category_id','Date'], inplace = True)
    hrnn_dataset_dict_hor = {}

    for category in list(data['Category'].unique()):
        hrnn_dataset_dict_hor[category] = data[data['Category'] == category]
    
    hrnn_expanding_path = f'/Users/mvilenko/Library/CloudStorage/OneDrive-PayPal/CPI_HRNN - version 2.0/pickle files/hrnn_dataset_dict_expanding_hor_{horizon}.pickle'
    with open(hrnn_expanding_path, 'wb') as handle: #wb means write - creating a pickle file
        pickle.dump(hrnn_dataset_dict_hor, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
    success = f'Successfully Created Dataset with {horizon} Horizons!'
    print(success)